:root{
    --primary: #007bff;
    --lightprimary:#0056b3;
    --white:#ffffff;
    --silver:#bcbcbc9e;
    --defaultLinkColor:#333;
    --yellow:#FFD700;
    --muted:#77777777;
    --whiteBG:#F8FAFC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.titre p {
    width: 300px;
    color:#bcbcbc9e;
    font-size: 50px;
    
}
section{
    margin-top: 50px;
}
  

.p-bas{
    display: flex;
    justify-content: space-evenly;
    background-color: #516EFF;
    padding: 40px;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;

  
}

.p{
    color: #333;
    background-color: #f8fafc;
    padding: 50px;
    position: relative;
    width: 200px;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    justify-content: space-around;

}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 20;
    width: 100%;
    border: 1px solid var(--silver);
  }  
  /* header hr{
        width: 100%;
        color: var(--muted);
        margin-top: 50px;
        z-index: 10;
        position: fixed;
        width: 100%;
        z-index: 10;
      } */
      .men {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        width: 100%;
      }
hr{
    width: 100%;
}
.menu {
    display: flex;
    margin: auto;
    font-size: 12px;
  }
  .logo {
    font-weight: 650;
    font-size: 25px;
    padding: 20px 0px 20px 30px;
  }
.logo span{
    color: #516EFF;
    padding: 450px 0;
   
  
    
}
.menu li{
    margin: 0 15px;
    list-style: none;
    
   
}

.menu li a {
    font-size:14px ;
    text-decoration: 0;
    color: #52525B;
    position: relative;

    

}
#hom{
    color:#516EFF;
}
#g{
    background-color: #516EFF;
    color: var(--white);
    width: 200px;
    cursor: pointer;
   
}
#g:hover{
    color: #516EFF;
    background-color: var(--white);
}
#f{
    background-color:#516EFF;
    color: #ffff;
    padding: 9px 30px 9px 30px;
    border-radius: 10px ;
   
}


.menu li a:hover{
   color: #516EFF;
}
#home{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;

}
#home1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
 }  
#home1 .left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
   
    
}
#home1 .left h4 {
    font-size: 20px;
    color: #27ae60;
}
#home1 .left h1 {
    font-size: 35px;
}
#home1 .left p {
    font-size: 12px;
    color: #999;
    width:250px;
    padding-top: 20px;
}
.btn  button{
    margin-top: 50px;
    color: #516EFF;
    font-size: 25px;
    padding: 10px ;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 150px;
    padding:15px;
    background-color: #ffffff;
    font-size: 10px;
    font-weight:100;
    text-align: center;
    border: 1px solid #516EFF;
   

    
 }
 /* .btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
 } */
 .btn  button:hover{
    color: #f8fafc;
    background-color: #516EFF; 
   

}

#home1 .right {
    width: 450px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    top: 35px;
}
#home1 .right img {
    width: 100%;
    border-radius: 20px;
  
}


/* menu css */
.d input button{
    background-color: #516EFF;
    width: 40px;
}
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
   

}
.contenair{
    display: flex;
    justify-content: space-between;
  
    width: 100%;
    background-color: #ffffff; 
    position: relative;
    margin-top: -80px;
     height: 500px;
 }
    
.left1{
    width:50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 80px;
    background-color: #f8fafc;
    border-radius: 40px;
   /* margin-bottom: 92%; */
   height: 500px;
   position: relative;
   
}
.left1 img{
    margin-bottom: 40px;
}


.right1{
font-size: 20px;
width: 900px;
padding-top: 90px;
color: #18181B;
height: 500px;
margin: 20px;
position: relative;


}
.label{
    text-align: center;
    justify-items: center;
}
.box{
    display: flex;
    width: 700px;
    justify-content: space-between;
    justify-items: center;


}
.box1{
    margin-top:20px;
    padding-top: 20px;
    margin-left: 80px;
    display: block;
    width: 700px;
    font-size: 15px;

}
.box2{

   padding-top:30px;
   margin-left: 80px;
   width: 500px;
   font-size: 15px;

   
}


 #menu h2{
    font-size: auto;
 } 
 .titre {
font-size: 30px;
font-family: 'Poppins', sans-serif;
background-color: #27ae60;
margin-right: 500px;
width: 400px;
position: relative;
 } 
.title{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    margin-right: 500px;
    
    color: #333;
    margin-bottom: 25px;

    position: relative;
}
.dishes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    margin: 20px;
    position: relative;
}
.dishes .dish {
    height: 280px;
    width: 30%;
    background-color:#f8fafc;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 35px;
    transition: 0.5s;
}
.dishes .dish h2 {
    font-size: 14px;
    color: #18181B;
  }
.dishes .dish img {
    width: 130px;
    height: 120px;
    margin-bottom: 15px;
}

.dishes .dish p{
    text-align: center;
    font-size: 12px;
    text-decoration: 0;
    color: #777777;
    border-radius: 6px;
    position: relative;
    margin-top: 10px;
    line-height: 1.5;
    font-weight: bolder;
   
   
}
/* section help  */
.help{
   
    background-color: #516EFF;
    padding: 40px;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    
    
}
.help .h{
text-align: center;
display: flex;
justify-content: space-around;
justify-items: center;
}
.help .n{
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
}

.tn button{
    margin-top: 40px;
    border:1px solid#ffffffff;
    width: 300px;
    padding:  10px;
    justify-items: center;
    background-color: #516EFF;
    color: #ffff;
    margin-left: 46px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;

}
.tn button:hover{
    margin-top: 40px;
    border:1px solid #516EFF;
    width: 300px;
    padding:  10px;
    justify-items: center;
    background-color: #ffffff;
    color: #516EFF;
    margin-left: 46px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;

}

/*about us css*/
#about_us{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100% ;
}
#about_us h1{
    font-size: 36px;
}
#about_us h1 {
    justify-content: center;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid var(--silver);
  }
.about { 
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 400PX;
    margin: auto;
  }
#about_us h2{
    font-size: 25px;
    margin-left: 800px;
}
#about_us .title div{
    font-size: 30px;
    margin-right:100px;
    width: 1020px;
    margin-left: 50px;
    display: flex;
    justify-content:space-between;
    margin-left: 600px;
    
   
   
}
#about_us .title div hr{
    width: 275%;
    
}
.about .left{

   display: flex;
   align-items: center;
   justify-content: center;
   height: 70vh;
   width: 40%;



}
.about .left img {
    /* height: 42vh;
    margin: auto; */
    padding: 40px;
    border-radius: 50px;
    width: 100%;
  }
.about .right{
    background-color: #f8fafc;
    /* height: 35vh; */
    border-radius: 20px;
    padding: 30px;
    /* width: 50%;
    text-align: center; */
}
.about .right h3 {
    font-size: 20px;
    color: #18181B;
    /* text-align: center;   */
}
.about .right p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #777777;
    padding-top: 10px;
    line-height: 2;
    /* text-align: center; */
  }
c/*omment section css*/
.m2{
    display: flex;
    justify-content: space-around;
}
.w2{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.w2 .w3{
    display: flex;
    justify-content: space-between;
}
.w2 .w3 h1{
    margin-bottom: 0;
}
.w2 .w3 .w4 h1{
    display: flex;
    justify-content: end;
}
.w2 hr{
    width: 900px;

}

.w2 h1{
    font-size: 35px;
    margin-bottom: 20px;
}
.titre1 h1{
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
    
}

/* .w .m1{
    margin-top: 60px;
text-align: center;
}
.w hr {
    width: 80%;
} */



.contenair {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    gap: 60px;
}
.commentse{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;

}

.comment_section h1 {
    justify-content: center;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid var(--silver);
  }
.commentse h4{
    text-align: center;
    margin: 10px;
    font-size: 15px;
    font-weight: 100;
}
.commentse div img{
    text-align: center;
}
.commentse p{
    font-size: 14px;
    color: #777777;
}
.comment{
    text-align: center;
    margin: 20px;
    border: 2px solid var(--silver);
    border-radius: 10px;
    padding: 20px;
}

 .w{
    margin-top: 60px;
 }
 #menu .titles{
width: 80%;
display: flex;
justify-content: end;
flex-direction: column;

 }
 #menu .titles h1{
    display: flex;
    justify-content: end;

 }
 #menu .title1{
    display: flex;
    justify-content: space-between;
    font-size: 35px;
 }
 #menu h1 {
    justify-content: center;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid var(--silver);
  }
 
 

 .r{
    display: flex;
    justify-content: space-between;
 }
.btn  button{
    margin-top: 10px;
    color:#516EFF;
    font-size: 1px;
    padding: 10px ;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    width: 150px;
    background-color: transparent;
    font-size: 15px;
    border: 1px solid #516EFF;
    text-align:center ;

    
 }
 .btn  button:hover{
    color: #f8fafc;
    background-color: #516EFF; 
    transition: transform 0.01s;

}
/* section customer */
.customer{
display: flex;
justify-content: center;

width: 100%;
background-color: #516EFF; 
position: relative; 
 padding: 40px; 
 
}
.customer .left h1{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.customer .left img {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 100%;
}
.customer button{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.customer .left{
width: 300px;
height:300px;
padding: 20px;
background-color: #ffffff;
border-radius: 20px;
}

.customer .right{
color: #ffffffff;
width: 80%;
display: flex;
justify-content: center;
justify-items: center;
}
.customer .right button{
    display: flex;
    font-size: 60px;
    width: 100%;
    justify-content:center;
    margin-top: 20px;
}
.customer .right h2{
    font-size: 30px;
}
.customer .right p{
    font-size: 15px;
    padding-top: 20px;
}


/* section reservation  */
#reservation h1{
text-align: center;
font-size: 36px;
}
.contact {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    Margin: auto;
  }
  .contact .left {
    width: 50%;
    height: 100VH;
  }
.contact .left img{
    width: 90%;
    margin-top: 45px;
    border-radius: 32px;
    height: 80vh;
}
.contact .right{
    width: 80%;
    /* margin-right: 150px; */
   padding: 40px;
}
#eservation h2{
    font-size: 25px;
    margin-left: 80px;
}
#reservation .title div{
    font-size: 30px;
    margin-right:100px;
    width: 1170px;
    margin-left: 50px;
    display: flex;
    justify-content:space-between;
    margin-left: 60px;
  
    
   
   
}
#reservation .title div hr{
    width: 200%;
    
}
.c{
    display: flex;
    justify-content: space-between;
    width: 80%;
   
}



.right .f{
    display: flex;
    font-size: 15px;
    font-size: small;
    padding-top: 10px;
    color: #52525B;
    flex-direction: column;
    width: 100%;


}
.g {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
.right .input{
    padding: 10px;
    margin: 10px;
}

.t textarea {
    width: 100%;
    resize: none;
    height: 30vh;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--muted);
   
  }
.t{
    font-size: 13px;
    margin-top: 10px;
    line-height: 2;
}
.t label{
    color: #52525B;
}

.f input{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    /* color: transparent; */
    color: #52525B;
    margin-top: 5px;
    border: 1px solid var(--muted);
}
.f select {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    color: var(--muted);
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid var(--muted);
  }

#reservation form input[type="submit"]{
    margin-top: 15px;
    color: var(--white);
    background-color: #516EFF;

    padding: 15px;
    width: 100%;
    border-radius: 10px;
    
 }
 
#reservation form input:hover[type="submit"]{
        margin-top: 15px;
        color:  #516EFF;
        background-color: var(--white);
        cursor: pointer;
        padding: 15px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #516EFF;
    
}
#subscribe{
    background-color: var(--white);
    width: 100%;
    /* height: 50vh; */
    text-align: center;
    padding-top: 50px;
   
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.sub{
    background-color:#216583;
    /* height: 30vh; */
    width: 90%;
  justify-content: space-between;
    border-radius: 20px;
   /
}
#subscribe h1{
    color: var(--white);
    font-size: 35px;
    padding-top: 20px;
    text-align: center;

}
.inp{
         
    width: 100%;
    /* height: 5vh; */
    padding: 40px;
}
.inp input{
    background-color:var(--muted);
    padding:10px;
    text-align: center;
    border-radius: 10px;
    color: var(--white);
    font-size: 15px;
    margin: 10px;
    border: none;
}
#bute{
    background-color:var(--white);
    padding:10px;
    text-align: center;
    border-radius: 10px;
    color: black ;
    font-size: 15px;
    margin: 10px;
    width: 200px;
    border: none;
}
#bute:hover{
    background-color:var(--muted);
    padding:10px;
    text-align: center;
    border-radius: 15px;
    color:var(--white);
    cursor: pointer;
}

  #reservation h2{
    font-size: 35px;
    margin-left: 1000px;
 }
 #reservation h1{
    font-size: 40px;
    /* margin-left: 95px; */
    
}
#reservation h1 {
    justify-content: center;
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid var(--silver);
  }

/* footer css*/
.services_list{
    display: flex;
    background-color: #516EFF;
    justify-content: center;
    gap: 40px;

}
.cp1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    
}
.cp2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
}
.service h1{
    color: var(--white);
}
.service a{
    color: var(--white);
    font-size: 12px;
    text-decoration: none;
}
.service p{
    color: var(--white);
    font-size: 12px;
}
.cp2 .service .service-cp2{
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    color: var(--white);
    line-height: 1.5;
    align-items: center;
   
}
.cp2 .service .service-cp2 .t2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.service{
    line-height: 1.5;
    /* margin-top: 40px; */
    border-right: 1px solid var(--white);
    padding: 20px;
}
.service img{
    font-size: 1.5rem;
    filter: brightness(15000%);
}

.footer_text{
    text-align: center;
    font-size: 15px;
    padding: 15px;
    background-color:#216583;

    width: 100%;
    color:var(--white);
}


    

@media screen and (max-width: 800px){
    .box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .box1{
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    #home1 {
        display: flex;
        align-items: center;
        height: 400px;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 200px;
        padding-top: 150px;
      }
      #home1 .left{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #home1 .left h1 {
        font-size: 20px;
        display: flex;
        text-align: center;
      }
      #home1 .right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
        top: 35px;
      }
      #home1 .right img {
        width: 50%;
        border-radius: 20px;
        margin-top: 50px;
      }
    /* } */
    .comment_section h1{
        margin-top: 138px;
    }
    /* .comment{
       width: 50%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

    } */
      .p-bas {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--lightprimary);
        padding: 40px;
        width: 100%;
        color: #ffffff;
        font-size: 15px;
        align-items: center;
        border-radius: 10px;
        margin-top: 50px;
        flex-direction: column;
      }
      .p-bas .h{
        margin: 20px  0;
      }
      .p {
        width: 150px;
        margin-bottom: 50px;
        padding: 20px;
        height: 100px;
      }
      #menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 600px;
      }
     
      
      .right1 {
        font-size: 20px;
        width: 900px;
        padding-top: 90px;
        color: #18181B;
        height: 500px;
        margin: 20px;
        position: relative;
      }
        .contenair {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            display: grid;
          }
         
       
    .menu{
        display: none;
    }
    .toggle_menu {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        margin-top: 20px;
        
        right: 50px;
      }
      
    .logo{
        width: 100%;
    }
    .logo img{
        width: 150px;
    }
    .toggle_menu::before{
        position: absolute;
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2;
        width: 28px;
        border-radius: 6px;
        transition: 0.5s;
        /* left: 40px;
        top:15px; */
        border: 2px solid #516EFF ;
        background-color: #516EFF;
        box-shadow: 0 10px 0 #516EFF;
        transform: translateY(-10px);
    }
    .toggle_menu.active::before{
        transform: translateY(0) rotate(135deg); 
        box-shadow: 0 0 0 #516EFF;
    }
   
    .toggle_menu::after{
        position: absolute;
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2;
        width: 28px;
        background-color: #516EFF;
        border-radius: 6px;
        transition: 0.05s;
        border: 2px solid #516EFF;
        /* left: 40px;
        top: 15px; */
        transform: translateY(10px);
    }
    .toggle_menu.active::after{
        transform: translateY(0) rotate(-135deg); 
        box-shadow: 0 0 0 #516EFF;
    }
    .dishes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dishes .dish{
        width: 80%;
    }
    .about{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .about .left {
        width: 100%;
        padding-top: 100px;
      }
    .about .left img{
        width: 50%;
       
    }
    .about .right{
        width: 60%;
    }
    .about .right P{
        font-size: 11px;
    }
    .commentse {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .comment_section h1{
    font-size: 25px;
    }
    #about_us h1{
        font-size: 25px;
        }
        #reservation h1{
            font-size: 25px;
            }
        #menu h1{
            font-size: 25px;
            }
    .contact .left{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .contact .left img {
        width: 80%;
        margin-top: 45px;
        border-radius: 32px;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .contact .right{
        display: flex;
        justify-content: center;
        width: 100%;
         }
         .contact .right form{
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
         }
    .forum{
        display: flex;
        justify-content: center;
        width: 100%;
       
        flex-direction: column;

    }
    .t{
        width: 100%;
    }
    .g{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #subscribe{
        width: 100%;
       
    }
    .sub{
        width: 80%;
    }
    .sub input{
        width: 100%;
    }

    
    header .menu.responsive
    {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        flex-direction: column;
    }
    #bute{
        width: 100%;
    }
.menu.responsive{
    margin-top: 20px;
}
    header .menu.responsive li{
        margin: 15px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box2{
        width: 30%;
        text-align: left;
        line-height: 0.5;
    }
   .box1 p{
    width: 30%;
    text-align: left;
    line-height: 2;
 }
    .services_list{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
    }
    .cp2 {
        display: flex;
        width: 80%;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
     }
.cp1{
    width: 80%;
}
.service p {
    color: var(--white);
    font-size: 14px;
    line-height: 2;
  }
.cp1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
    color: white;
    flex-direction: column;
 }
.service img{
    width: 80%;
}
.footer_text{
    font-size: 12px;
    /* responsive signup */
}
.sign{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap:none;
    padding: none;
}
/* responsive signup */
.sign form input[type="submit"]{
    width: 80%;
}
.sign-form{
    width: 100%;

}
.content-form{
    width:100% ;
}
.content-forme{
    width:80% ;
}
/* reponsive login */
.login{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.login form{
    width: 100%;
}
.content-form{
    width: 100%;
}
.login form input{
    width: 100%;
}
.login h1{
    width: 100%;
}
.content{
    width: 100%;
}
.login .content-forme{
display: flex;
justify-content: left;
margin-top: 10px;
}
#checkbox{
    height: 2vh;
    width: 10%;
    left: 0;
}
.service{
    width: 80%;
    border-bottom: 1px solid var(--white);
    border-right: none;
}
.cp2 .t2{
    width: 80%;
}
}

/* sign-up */
.sign{
    /* padding: 90px; */
    width: 100%;
}
.sign-content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.content-password{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 20px;
  
}
.content-forme label{
color: #516EFF;
font-size: 14px;
}

.sign form input[type="submit"] {
    margin-top: 15px;
    color: var(--white);
    background-color: #516EFF;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }
  .content-forme{
  /* padding-right: 220px; */
  width: 100%;
  }
    .sign form input:hover[type="submit"] {
        /* margin-top: 15px; */
        color: var(--primary);
        background-color: var(--white);
        padding: 15px;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
      }
      .sign form input {
        padding: 13px;
        border-radius: 10px;
        line-height: 1;
        border: 1px solid var(--silver);
      }
      .sign .content-form {
        display: flex;
        font-size: 15px;
        font-size: small;
        padding-top: 10px;
        color: #18181B;
        flex-direction: column;
        width: 100%;
      }
      .content {
        width: 80%;
        display: flex;
        justify-content: center;
        line-height: 2;
        gap: 20px;
      }
      .sign h1{
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-top: 100px;
      }
.sign-form{
    width: 100%;
}
#sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    /* margin-top: 150px; */
}

/* login */
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
.content-password{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin: 20px;
  
}
.login{
    width: 100%;
}
.login h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 150px;
  }
  .login-content {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .login-content form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .login .content-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
.content-forme label{
color: #516EFF;
font-size: 14px;
}
.login .content {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 2;
    flex-direction: column;
    
  }
  .login form {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-content form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .login form input[type="submit"] {
    margin-top: 15px;
    color: var(--white);
    background-color: #516EFF;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--muted);
    margin-top: 20px;
     }
     
      
    .login form input:hover[type="submit"] {
        /* margin-top: 15px; */
        color: #516EFF;
        background-color: var(--white);
        padding: 15px;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
      }
      .login form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .login form input {
        padding: 13px;
        border-radius: 12px;
        line-height: 1;
        /* width: 100%; */
        outline-color: #516EFF;
        border: 1px solid var(--muted);
      }
      #checkbox {
        
        /* height: 3vh; */
     margin-top: 2px;
     border-radius: 5px;
       
     
       
      }
     







